__pycache__
*.pytest_cache
venv/
# .env
*.db
*.idea
*.ruff_cache

# Exclude specific folders or temporary files in solutions
solutions/**/__pycache__/
solutions/**/*.py[cod]
solutions/tests/**/__pycache__/
solutions/tests/**/*.py[cod]
